<div class="row ">
    <div class="col-lg-12 col-md-12 mb-4 mt-5">
        <div class="border d-flex flex-column p-4" style="background-color:#cec9c9; height: 100%; border-radius: 20px;">
            <div class="d-flex align-items-center mb-4">
                <img src="assets/image/ahmad.webp" alt="Profile" class="img-fluid rounded-circle" style="width: 55px; height: 55px;">
                <div class="d-flex flex-column ms-3">
                    <p class="mb-1">Ahmad_Janajrah</p>
                    <p class="mb-1">Marketing Department</p>
                    <p style="color: #777 " class="mb-1">Junior Accounting Officer</p>
                </div>
                <a href="#" class="btn btn-outline-success ms-auto" style="width: 150px; text-decoration: none;">New Request</a>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="d-flex align-items-start mb-3 mb-md-0">
                    <i class="fa-solid fa-user me-2" style="font-size: 50px; color: #6d6969;"></i>
                    <div>
                        <p class="mb-1 bold"style="color: black;">Reporting To:</p>
                        <p class="mb-0">Salwa Assem</p>
                    </div>
                </div>
                <div class="d-flex align-items-start mb-3 mb-md-0 ms-md-4">
                    <i class="fa-solid fa-arrow-trend-up me-2" style="font-size: 50px;color: #6d6969;"></i>
                    <div>
                        <p class="mb-1 bold"style="color: black;">Corporate Level:</p>
                        <p class="mb-0">Level 10</p>
                    </div>
                </div>
                <div class="d-flex align-items-start mb-3 mb-md-0 ms-md-4">
                    <i class="fa-regular fa-hand  me-2" style="font-size: 50px;color: #6d6969;"></i>
                    <div>
                        <p class="mb-1 bold"style="color: black;">Lifetime:</p>
                        <p class="mb-0">2.5 Years</p>
                    </div>
                </div>
                <div class="d-flex align-items-start mb-3 mb-md-0 ms-md-4">
                    <i class="fa-solid fa-tree me-2" style="font-size: 50px;color: #6d6969;"></i>
                    <div>
                        <p class="mb-1 bold" style="color: black;">Vacation Days Left:</p>
                        <p class="mb-0">10 Days</p>
                    </div>
                </div>
                <div class="d-flex align-items-start ms-md-4">
                    <i class="fa-solid fa-head-side-cough me-2"style="font-size: 50px;color: #6d6969;"></i>
                    <div>
                        <p class="mb-1 bold"style="color: black;">Sick Days Left:</p>
                        <p class="mb-0">14 Days</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
