<div class="mt-5 container">

    <div class="vacation_requests border" style="margin-top: 20px; background-color:#e4e4e4; padding: 20px;">
        <div class="head_vacation_requests d-flex justify-content-between align-items-center p-3">
            <div class="d-flex align-items-center">
                <i class="fa-sharp fa-solid fa-rectangle-list" style="font-size: 50px; color: green;"></i>
                <h6 class="ms-2">Vacation Requests</h6>
            </div>
            <div class="search-wrapper" style="position: relative;">
                <i class="fa-solid fa-search" style="position: absolute; left: 10px; top: 15px; transform: translateY(-50%); color: green;"></i>
                <input type="search" id="search" placeholder="search..." (input)="onSearch($event)" style="padding-left: 30px;">
            </div>
        </div>
        <hr>

        <div class="user-cards-container d-flex flex-wrap justify-content-start" data-user-container>
            <div class="card border m-3" *ngFor="let card of filteredCards" style="width: 100%; max-width: 200px; padding: 20px;">
                <div style="text-align: center;">
                    <img [src]="card.imageUrl" alt="User Image" class="img-card" style="width: 80px; height: 80px; border-radius: 50%; object-fit: cover; margin-bottom: 15px;">
                    <p class="bold name" [innerHTML]="card.name | highlight: currentSearchTerm"></p>
                </div>
                <div style="text-align: left; padding-top: 15px;">
                    <p style="color: #777;">Submitted on:</p>
                    <p class="bold" [innerHTML]="card.submittedOn | highlight: currentSearchTerm"></p>
                    
                    <p style="color: #777;">Duration:</p>
                    <p class="bold" [innerHTML]="card.duration | highlight: currentSearchTerm"></p>
                    
                    <p style="color: #777;">Salary:</p>
                    <p class="bold" [innerHTML]="card.salary.toString() | highlight: currentSearchTerm"></p>
                    
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-success">Decline</button>
                        <button type="button" class="btn btn-success">Approve</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="d-flex justify-content-end mt-3">
            <a href="/aLL_vacation_requests" routerLink="/aLL_vacation_requests" class="view-more-link">View More ></a>
        </div>
    </div>
</div>
