<div class="col-lg-4 col-md-12 d-flex flex-column flex-md-row justify-content-between">
    <div class="border p-3 mb-3 mb-md-0 d-flex align-items-center flex-grow-1" style="background-color: green; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); transition: transform 0.2s; margin-right: 15px;">
        <div class="d-flex align-items-center">
            <i class="fa-regular fa-rectangle-list" style="font-size: 50px; margin-right: 8px; color: #ffffff;"></i>
            <div>
                <p class="mb-0 mt-2" style="color: #ffffff; font-size: 18px;">Vacation</p>
                <p class="mb-0" style="color: #ffffff; font-size: 14px;">Requests</p>
            </div>
        </div>
        <p class="ms-auto" style="font-size: 50px; color: #ffffff;">{{ vacationRequests }}</p>
    </div>
    
    <div class="border p-3 d-flex align-items-center flex-grow-1" style="background-color: green; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); transition: transform 0.2s;">
        <div class="d-flex align-items-center">
            <i class="fa-regular fa-rectangle-list" style="font-size: 50px; margin-right: 8px; color: #ffffff;"></i>
            <div>
                <p class="mb-0 mt-2" style="color: #ffffff; font-size: 18px;">Other</p>
                <p class="mb-0" style="color: #ffffff; font-size: 14px;">Requests</p>
            </div>
        </div>
        <p class="ms-auto" style="font-size: 50px; color: #ffffff;">{{ otherRequests }}</p>
    </div>
</div>

