<h6>Latest News:</h6>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
    <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let image of images; let i = index" [class.active]="i === currentImageIndex">
            <img [src]="image" class="d-block w-100" alt="Slide {{ i + 1 }}" style="object-fit: cover; height: 300px;">
            <div class="carousel-caption d-md-block bg-light bg-opacity-50 p-2 w-100 text-start mb-1" style="bottom: 0; left: 0;">
                <p class="text-dark m-0">Best Spots For A Summer Vacation Check out these spots where we provide you with a discount code!</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
